</head>
<body>
		<section class="login-facebook">
			
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Login with Facebook</strong></h2>
						<h5>Reduce the interest rate for your IDR loan.</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel imperdiet ipsum. Mauris blandit aliquam enim et porttitor. Morbi eget viverra massa.</p>
						<a class="btn btn-block btn-social btn-lg btn-facebook" href="step1">
							<i class="fa fa-facebook"></i> Login with Facebook
					  	</a>
					  	<%= session[:loan_amount] %>
					</div>
					<div class="col-md-4">
						<div class="info-box">
							<table>
								<tr>
									<td colspan="2">Questions? Call us:</td>
								</tr>
								<tr>
									<td width="30px"><i class="fa fa-phone fa-2x"></i></td>
									<td>(866) 213-6663<br>
									6am - 6pm PT
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		
		</section><!--end of Home section-->
</body>
</html>