	
</head>
<body>
		
		<section class="borrow-header">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<h1>Get a Loan</h1>
						<h5>Fill in these form to get the rate</h5>
					</div>
				</div>
			
			</div>
		</section>
		
		<section class="step-progress-container">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol class="step-progress">
							<li class="is-active" data-step="1">
								About You
						  	</li>
							<li data-step="2">
								Financial Info
							</li>
							<li data-step="3">
								Legal Documents
							</li>
							<li data-step="4" class="progress__last">
								Review your Offer
							</li>
						</ol>
					</div>
				</div>
			</div>
		
		</section>
		
		<section class="loan-form">
			
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Tell us about yourself.</h2>
						
						<div class="smart-forms">
							<!--<form id="smart-form" action="/pages/step2">-->
								<%= render 'step1_form' %>
						</div>
						
					</div>
					<div class="col-md-4">
						<%= render 'layouts/stepsidebar' %>
					</div>
				</div>
			</div>
		
		</section><!--end of Home section-->
		
		
		
	
	
</body>
</html>