	
</head>
<body>
		
		<section class="borrow-header">
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<h1>Get a Loan</h1>
						<h5>Fill in these form to get the rate</h5>
					</div>
				</div>
			
			</div>
		</section>
		
		<section class="step-progress-container">
			
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol class="step-progress">
							<li class="is-complete" data-step="1">
								About You
						  	</li>
							<li class="is-complete" data-step="2">
								Financial Info
							</li>
							<li class="is-active" data-step="3">
								Legal Documents
							</li>
							<li data-step="4" class="progress__last">
								Review your Offer
							</li>
						</ol>
					</div>
				</div>
			</div>
		
		</section>
		
		<section class="loan-form">
			
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Upload your legal documents.</h2>
						
						<div class="smart-forms">
							<form id="smart-form" action="/pages/step4">
								<div class="form-body theme-black">
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label colm">KTP<em> * </em></label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label colm">Kartu Keluarga<em> * </em></label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label colm">Bills (Last 3 Months)<em> * </em></label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
													<span class="input-hint"> 
														Handphone Bill / Phone Bill / Electric Bill / Water Bill
													</span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label">Credit Card bills <br>(Last 6 Montsh)</label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label colm">Salary Verification<em> * </em></label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
													<span class="input-hint"> 
														Salary Slip / Letter of Employment / SPT
													</span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-3">
											<div class="section">
												<label class="field-label colm">Others</label>
											</div><!-- end section --> 
										</div>
												
										<div class="col-md-8">
											<div class="section">
												<label class="field prepend-icon file">
													<span class="button"> Choose File </span>
													<input type="file" class="gui-file" name="file1" id="file1" onchange="document.getElementById('uploader1').value = this.value;">
													<input type="text" class="gui-input" id="uploader1" placeholder="no file selected" readonly="">
													<span class="field-icon"><i class="fa fa-upload"></i></span>
													<span class="input-hint"> 
														BPKB of Car / Akte Tanah / PBB yearly bill / STNK of Car / Education Cerft
													</span>
												</label>
											</div><!-- end section -->
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-11 text-right">
											<button type="submit" class="button btn-primary expand"> Continue <i class="fa fa-arrow-right"></i></button>
										</div>
									</div>
								</div>
							</form>
						</div>
						
					</div>
					<div class="col-md-4">
						<%= render 'layouts/stepsidebar' %>
					</div>
				</div>
			</div>
		
		</section><!--end of Home section-->
		
		
	<script type="text/javascript">
        $(function() {
			$('.auto').autoNumeric('init');
            $("#bank_name").combobox();
			$("#smart-form").validate({
					errorClass: "state-error",
					validClass: "state-success",
					errorElement: "em",
					rules: {
						account_first_name: {
								required: true
						},
						account_last_name: {
								required: true
						},
						account_no: {
								required: true,
								number: true
						},
						bank_name: {
								required: true,
						},
						bank_branch: {
								required: true,
						}		
					},
					messages:{
						account_first_name: {
								required: 'Please enter your account first name',
						},
						account_last_name: {
								required: 'Please enter your account last name',
						},
						account_no: {
								required: 'Please enter your account number',
								number: 'Please enter a VALID number'
						},	
						bank_name: {
								required: 'Please choose your bank'
						},	
						bank_branch: {
								required: 'Please enter your bank branch',
						}
					},
					highlight: function(element, errorClass, validClass) {
							$(element).closest('.field').addClass(errorClass).removeClass(validClass);
					},
					unhighlight: function(element, errorClass, validClass) {
							$(element).closest('.field').removeClass(errorClass).addClass(validClass);
					},
					errorPlacement: function(error, element) {
					   if (element.is(":radio") || element.is(":checkbox")) {
								element.closest('.option-group').after(error);
					   } else {
								error.insertAfter(element.parent());
					   }
					}
							
			});					
				
        });
    </script>
	
</body>
</html>