<div class="site-wrapper">
    	<header style="position: relative;" class="site-header nav-wrap-home">
			<div class="container">
				<div class="row">
					
					
					<div class="col-md-3">
						<div class="site-logo retina">
							<a href="index.php">
								MONEYTREE
							</a>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="navigation">
						
							<div class="border">
								<button class="navbar-toggle" type="button">
									<span class="icon-toggle">MENU</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								
								<!--<?php-->
								<!--	$active[$current] = "active";-->
								<!--?>-->
								<nav class="site-navigation">
									<ul>
										<li class="menu-item-has-children"><a href="#"><span class="border-orange <?php echo $active[1] ?>">Invest <img src=<%= asset_path 'arrow.png' %> /></span></a>
											<ul class="sub-menu">
												<li><a href="#">About investing</a></li>
												<li><a href="#">Quick Invest</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children"><a href="#"><span class="border-green <?php echo $active[2] ?>">Borrowing <img src=<%= asset_path 'arrow.png' %> /></span></a>
											<ul class="sub-menu">
												<li><a href="#">About borrowing</a></li>
												<li><a href="#">Loan types</a></li>
											</ul>
										</li>
										<li><a href="#"><span class="border-blue <?php echo $active[3] ?>">How it Works</span></a></li>
										<li class="menu-item-has-children"><a href="#"><span class="border-green <?php echo $active[4] ?>">About <img src=<%= asset_path 'arrow.png' %> /></span></a>
											<ul class="sub-menu">
												<li><a href="#">About MoneyTree</a></li>
												<li><a href="#">F.A.Q</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="header-button-group">
							<a href="#" class="btn btn-white-outline">Sign In</a>
							<a href="#" class="btn btn-blue">Join Now</a>
						</div>
					</div>
				</div>
			</div>
				
				
			
    		
			
			<div class="sticky-holder">
        	</div>
</header>