						<div class="info-box">
							<table>
								<tr>
									<td colspan="2">Questions? Call us:</td>
								</tr>
								<tr>
									<td width="30px"><i class="fa fa-phone fa-2x"></i></td>
									<td>(866) 213-6663<br>
									6am - 6pm PT
									</td>
								</tr>
							</table>
						</div>